@font-face {
	font-family: 'Futura Book';
	src: 
	url('../fonts/FuturaBook/FuturaBookC.woff') format('woff'),
	url('../fonts/FuturaBook/FuturaBookC.woff2') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: wrap;
	}

	@font-face {
		font-family: 'Futura Demi';
		src: 
		url('../fonts/FuturaDemi/FuturaDemiC.woff') format('woff'),
		url('../fonts/FuturaDemi/FuturaDemiC.woff2') format('woff');
		font-weight: normal;
		font-style: normal;
		font-display: wrap;
		}